h2 {
    font-family: comic-sans;
    padding: 10px;
}
.bg-main{
    background-image: url('https://c.pxhere.com/photos/54/8c/knitting_handwork_hobby_handmade_wool_color_knit_yarn-537518.jpg!d');
    height: 700px;
    background-repeat: no-repeat;
    background-size:cover;

}

#about-us {
    padding-top: 30%;
}

.dark-overlay{
    position: absolute;
    background-size: cover;
    top: 64px;
    left: 0;
    width: 100%;
    height: 700px;
    background: rgba(0,0,0,0.7);
    color: aliceblue;
}


.register {
    padding: 30px;
    text-align: left;
    background-color: #fff9c4;
    /* margin-right: 50%; */
}

.login {
    padding: 30px;
    text-align: left;
    background-color: #fff9c4;
    /* margin-left: 50%; */
}

div{

    font-size:30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:25px 50px 75px;
    text-align: center;
}

footer {
    text-align: center;
}