<head>
  <link type="stylesheet/css" src="main.component.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body  style="overflow:hidden;">
  
   <div class="row bg-main ">
    <div class=" dark-overlay">
      <div class="align-items-center pt-5">
      <div id='about-us' > 
        <h1>About us</h1>
        <p>A website for trading handmade crafts.</p>
      </div> 
    </div> 

    </div> 

    <!-- <div class="col-lg-4 col-10 pr-0 mr-0" style="overflow: hidden;">
    <img class="rounded d-block" style="height:500px; width: auto;"  src="https://c.pxhere.com/photos/54/8c/knitting_handwork_hobby_handmade_wool_color_knit_yarn-537518.jpg!d" alt="this is a photo">
      
    </div> -->
  </div>

  <section class="login-register">
    <div class="register">
        <h4>New here?</h4>
        <register></register>
    </div>  
  </section>

  <footer class="bg-dark text-light">
      <p text-align:right style="font-family:Brush Script MT, Brush Script Std, cursive	">handmade store</p>
    </footer>
</body>

