<head>
  <link type="stylesheet/css" src="main.component.css" />
  
  <link type="stylesheet/css" src="/../styles.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <style>
  </style>
</head>

<body  style="overflow:hidden;">


  <div id="carouselExampleControls" class="carousel slide p-0 m-5" data-ride="carousel" style="color: bisque">
    <div class="carousel-inner p-0 m-0" style="background-color: blanchedalmond">
      <div class="carousel-item active p-0 m-0">
        <img class="d-block w-100 p-0 m-0" src="https://img0.etsystatic.com/119/0/9226210/isbl_1680x420.20319636_i809mplc.jpg" alt="First slide"  >
      </div>
      <div class="carousel-item p-0 m-0">
        <img class="d-block w-100 p-0 m-0" src="https://img1.etsystatic.com/126/0/6284912/isbl_1680x420.22484451_ad1oyhde.jpg" alt="Second slide">
      </div>
      <div class="carousel-item p-0 m-0">
        <img class="d-block w-100 p-0 m-0" src="https://i.etsystatic.com/isbl/0b546f/32858730/isbl_1680x420.32858730_icc5318o.jpg?version=0" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
      <span class="sr-only"  >Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
   <div class="row bg-main ">
    <div class=" dark-overlay">
      <div class="align-items-center pt-5">
      <div id='about-us' > 
        <h1>About us</h1>
        <p>A website for trading handmade crafts.</p>
      </div> 
    </div> 

    </div> 

    <!-- <div class="col-lg-4 col-10 pr-0 mr-0" style="overflow: hidden;">
    <img class="rounded d-block" style="height:500px; width: auto;"  src="https://c.pxhere.com/photos/54/8c/knitting_handwork_hobby_handmade_wool_color_knit_yarn-537518.jpg!d" alt="this is a photo">
      
    </div> -->
  </div>

  <section class="login-register">
    <div class="register">
        <h4>New here?</h4>
        <register></register>
    </div>  
  </section>

</body>