h2 {
    font-family: comic-sans;
    padding: 10px;
}

div{
    margin: 20px;
    font-size:30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:25px 50px 75px;
    background-image: url('/img/Screenshot\ from\ 2018-09-10\ 23-47-28.png');
    padding: 20px 50px 60px ;
    text-align: center;
}

footer {
    text-align: center;
}
