<head>
  <link type="stylesheet/css" src="main.component.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  
</head>

<body>

  <div id='about-us' >

    <h3>About us</h3>
    <p>A website for trading handmade crafts.</p>
  </div>

  <div id='contact-us'>
      <h3>Contact Us</h3>
      <p>email us at: lehkdayadonia@gmail.com</p>
  </div>

  <footer>
    <p>FB | Twitter | Mawke3 el sho2oon</p>
    <!-- Github -->
    <a href="https://github.com/fatemamelg/ps-social-f" target="_blank" title="Github"><i class="fa fa-github fa-4x" aria-hidden="true"></i></a>

  </footer>


</body>



