<head>
    <style>
        body{
            background-color: black;
        }
    </style>
</head>
<body>
    <mat-card>
        <mat-card-header>
            <mat-card-title><h4>New Post</h4></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field style="width: 100%">
                    <textarea [(ngModel)]="postData.msg" name="Description" matInput placeholder="Post"></textarea>
                </mat-form-field>
                <br />
                <mat-form-field style="width: 100%">
                    <input [(ngModel)]="postData.img" name="Picture" matInput placeholder="Picture Link">
                </mat-form-field>
                <br />
                <mat-form-field>
                    <mat-select [(value)]="selected" [(ngModel)]="postData.tag" [ngModelOptions]="{standalone: true}">
                        <!-- <mat-option *ngFor="let cat of apiService.categories"  (click)="loadIdValueInForm(apiService.categories.categoryId)" value="cat.name">{{cat.name}}</mat-option> -->
                        <mat-option value="5c0ac394d2967a4152ef4fca">Crochet</mat-option>
                        <mat-option value="5c0ac3e1d2967a4152ef4fcb">Accessories</mat-option>
                        <mat-option value="5c0ac3f6d2967a4152ef4fcc">String Art</mat-option>
                    </mat-select>
                </mat-form-field>    
                <br />
                <mat-form-field>
                    <input [(ngModel)]="postData.price" name="Picture" matInput placeholder="Price" required>
                </mat-form-field>
                <br />
                <button (click)="post()" mat-raised-button color="primary">Post</button>
            </form>
        </mat-card-content>
    </mat-card>
</body>